/* Fuentes */
@font-face{
    font-family: 'Ageo-light';
    src:url('../fonts/AgeoTrial-Light.ttf')
}

@font-face{
    font-family: 'Ageo-regular';
    src:url('../fonts/AgeoTrial-Regular.ttf')
}

/* Comienzo de los estilos para pantalla de móvil (menos de 400px de ancho) */

@media (max-width: 499px){
    .admin-content{
        background-color: rgb(30 0 0);
        height: 86vh;
    }
    .admin-title{
        color: white;
        margin: 0;
        padding: 2vh 5vw;
        font-family: 'Ageo-regular';
    }
    .pass-content{
        display: flex;
        flex-direction: column;
        margin: 2vh 0;
        padding: 2vh 0;
        position:absolute;
        background-color: black;
        width: 100vw;
        flex-wrap: wrap;
        align-content: center;
    }
    .pass-label{
        color: white;
        font-family: 'Ageo-regular';
        margin: 0 2vh;
        font-size: 6vw;
    }
    .pass-input{
        color:#CA2E28;
        background-color: rgb(20, 0, 0);
        border-color: #CA2E28;
        margin: 3vh auto;
        border-radius: 15px;
        font-family: 'Ageo-regular';
        font-size: larger;
        width: 45vw;
        object-position: center;
    }
    .pass-button{
        margin: 2vh auto;
        width: 45vw;
        color: white;
        background-color: black;
        border: solid thin #CA2E28;
        border-radius: 15px;
        font-family: 'Ageo-regular';
        font-size: 6vw;
        padding-bottom: 1vh;
    }
}

/* FIN de los estilos para pantalla de móvil (menos de 400px de ancho) */
/* Comienzo de los estilos para pantalla de escritorio (más de 400px de ancho) */

@media (min-width: 499px){
    .admin-content{
        background-color: rgb(30 0 0);
        height: 86vh;
    }
    .admin-title{
        color: white;
        margin: 0;
        padding: 2vh 5vw;
        font-family: 'Ageo-regular';
        font-size: 3vw;
    }
    .pass-content{
        display: flex;
        flex-direction: column;
        margin: 2vh 0;
        padding: 2vh 0;
        position:absolute;
        background-color: black;
        width: 100%;
        flex-wrap: wrap;
        align-content: center;
    }
    .pass-label{
        color: white;
        font-family: 'Ageo-regular';
        margin: 0 2vh;
        font-size: 1.5vw;
    }
    .pass-input{
        color:#CA2E28;
        background-color: rgb(20, 0, 0);
        border-color: #CA2E28;
        margin: 3vh auto;
        border-radius: 15px;
        font-family: 'Ageo-regular';
        font-size: 2vw;
        width: 20vw;
        object-position: center;
    }
    .pass-button{
        margin: 2vh auto;
        width: 20vw;
        color: white;
        background-color: black;
        border: solid thin #CA2E28;
        border-radius: 15px;
        font-family: 'Ageo-regular';
        font-size: 2vw;
        padding-bottom: 1vh;
    }
    .pass-button:hover{
        background-color: rgb(40, 0, 0);
    }
}